.Card {
 width: 30%;
 height: 95vh;
 justify-content: center;
 background-image: linear-gradient(
  to right,
  #111212,
  #131515,
  #161717,
  #181a18,
  #1b1c1a
 );
 box-shadow: 0px 0px 8px 4px #000000;
 z-index: 10;
}

.CardBody {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 text-align: center;
 color: hsl(159, 97%, 37%);
}
.CardBody .CardText {
 font-weight: 900;
 letter-spacing: 2px;
 text-shadow: 7px 7px 11px black;
}

.CardImage {
 box-shadow: 0px 4px 5px 0px #000000;
}

.CardBody.card-img-overlay {
 display: flex;
 position: relative;
}

.title {
 color: white;
 font-size: calc(1rem + 1.5vw);
 margin-bottom: 0;
}

.CardText.underTitle {
 font-size: calc(0.7rem + 0.8vw);
 margin-bottom: 2rem;
}
