.App {
 width: 100vw;
 height: 100vh;
}

body {
 margin: 0;
 padding: 0;
}

.sidebar {
 height: 100%;
 width: fit-content;
 background: black;
 justify-content: center;
}

.sidebarNavlink {
 color: darkgray;
 margin: 0.5rem;
 text-decoration: none;
 transition: 500ms;
}

.nav-pills > a.nav-link.active {
 background-color: hsl(141, 75%, 48%);
 color: black;
}

.sidebarNavlink:hover {
 color: white;
}
