.App {
 width: 100vw;
 height: 100vh;
}

body {
 margin: 0;
 padding: 0;
}

.sidebar {
 height: 100%;
 width: fit-content;
 justify-content: flex-start;
 background-image: linear-gradient(
  to right,
  #111212,
  #131515,
  #161717,
  #181a18,
  #1b1c1a
 );
}

.sidebarNavlink {
 color: darkgray;
 margin: 0.5rem;
 text-decoration: none;
 transition: 500ms;
}

.nav-pills > a.nav-link.active {
 background-color: hsl(159, 97%, 37%);
 color: black;
}

.sidebarNavlink:hover {
 color: white;
}
.photo {
 width: 10rem;
 border-radius: 50%;
 margin: 1rem 0;
}
