* {
 font-family: 'Roboto', sans-serif;
 letter-spacing: 1px;
}

@media only screen and (max-width: 575px) {
 .row.wrap {
  overflow: overlay;
 }
}

html {
 background: black;
}
.App {
 display: flex;
 height: 100vh;
}

.row.wrap {
 position: relative;
 flex-wrap: nowrap;
}

body {
 margin: 0;
 padding: 0;
 background-image: url(./background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.sidebar {
 height: 85%;
 align-self: center;
 width: fit-content;
 justify-content: space-evenly;
 margin-right: 5px;
 border-radius: 0.25rem;
 background-image: linear-gradient(
  to right,
  #111212,
  #131515,
  #161717,
  #181a18,
  #1b1c1a
 );
 box-shadow: 0px 0px 8px 4px #000000;
}

.sidebarNavlink {
 color: darkgray;
 margin-top: 10px;
 text-align: center;
 text-decoration: none;
 transition: 500ms;
}

.nav-pills > a.nav-link.active {
 background-color: hsl(159, 97%, 37%);
 color: black;
 -webkit-font-smoothing: subpixel-antialiased;
 transform: scale(1.2);
 box-shadow: 0px 6px 9px 3px #000000;
}

.sidebar.nav {
 flex-wrap: nowrap;
}

.sidebarNavlink:hover {
 color: white;
}
.photo {
 border: 10px solid #0000;
 border-radius: 20%;
 margin: 1rem;
 box-shadow: 0px 6px 9px 3px #000000;
}
